* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background: #111;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}


.dropdown-menu {
    display: none;
    position: absolute;
    background: #222;
    top: 40px;
    list-style: none;
    min-width: 150px;
}

.dropdown-menu li a {
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.hero {
    height: 90vh;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    margin: 15px 0;
}

.cta-btn {
    padding: 12px 25px;
    border: none;
    background: #ff9800;
    color: white;
    font-size: 16px;
    cursor: pointer;
}


.features {
    padding: 60px 40px;
    text-align: center;
}

.feature-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #f5f5f5;
    padding: 25px;
    width: 250px;
    border-radius: 8px;
}
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}


.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {

    .navbar {
        flex-wrap: wrap;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links {
        width: 100%;
        display: none;
        flex-direction: column;
        background: #111;
        margin-top: 10px; 
    }

    .nav-links li {
        text-align: center;
        border-top: 1px solid #333;
    }

    .nav-links a {
        padding: 12px;
        display: block;
    }

    .feature-cards {
        flex-direction: column;
        align-items: center;
    }
    .hero{
        padding: 10px;
    }
}
